<%- include("../partials/head") %>
  <section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form>
          <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
            <p class="lead fw-normal mb-0 me-3">Şunlar ile giriş yap</p>
            <a href="/google/login"><button type="button" class="btn btn-primary btn-floating mx-1">
              <i class="fab fa-google"></i>
              </button></a>
             <a class="text-light" style="text-decoration:none" href="/login"><button type="button" class="btn btn-primary btn-floating mx-1 text-light">
             <i class="fab fa-discord"></i>
               </button></a>
          </div>

          <div class="divider d-flex align-items-center my-4">
            <p class="text-center fw-bold mx-3 mb-0">Ya da</p>
          </div>

          <!-- Email input -->
          <div class="form-outline mb-4">
            <input type="text" id="username" name="username" class="form-control form-control-lg"
              placeholder="Kullanıcı adı" />
            <label class="form-label" for="username">Kullanıcı Adı</label>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-3">
            <input type="password" id="form3Example4" class="form-control form-control-lg"
              placeholder="Şifrenizi giriniz" />
            <label class="form-label" for="form3Example4">Şifre</label>
          </div>

          <div class="d-flex justify-content-between align-items-center">
            <!-- Checkbox -->
            <div class="form-check mb-0">
              <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
              <label class="form-check-label" for="form2Example3">
                Beni hatırla
              </label>
            </div>
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="button" class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
            <p class="small fw-bold mt-2 pt-1 mb-0">Hesabın yok mu? <a href="/kayit"
                class="link-danger">Kayıt ol</a></p>
          </div>

        </form>
      </div>
    </div>
  </div>

</section>
